/* ------------------------------ Color variables ------------------------------------------- */
:root {
    --beige_light: #FAF3E1;
    --beige_dark: #F5E7C6;
    --orange_light: #FF6D1F;
    --orange_dark: #A34A1A;
    --black_light: #222222;
    --black_dark: #181416;
}

/* ------------------------ Main + Its items ----------------------------- */
main {
    position: relative;
    
    width: 80vw;
    max-width: 800px; 
    min-height: 70vh;
    max-height: calc(63vh + 10vw);

    margin: 2rem auto;
    padding: 1.5rem;

    background-color: var(--black_dark);

    border-radius: 8px;

    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: calc(0.2vh + 0.5vw);

    box-shadow: inset 0 0 2vw rgba(255,0,0,1);

    overflow-y: auto;
}

.main_item {
    width: 100%;
    aspect-ratio: 1 / 1; 
    
    min-width: 90px;

    background-color: var(--orange_dark);
    color: var(--beige_dark);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.589);

    font-size: 1.2rem;
    transition: all 0.4s ease;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        width: 95vw;
    }
}

@media (max-width: 480px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;
        padding: 1rem;
    }
    .main_item {
        font-size: 1rem;
    }
}

.main_item:hover {
    background-color: var(--orange_light);
    color: var(--beige_light);
}

#main_item_add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_item_button {
    width: 100%;
    height: 100%;
    
    font-size: inherit;
    font-weight: bold;

    background-color: transparent;
    color: inherit;

    border: none;

    cursor: pointer;
}

#main_item_add_button {
    font-size: 5rem;
    font-weight: lighter;
}  

.noteParentCircles {
    position: relative;
    top: 0vh;

    width: calc(0.3vw + 4vh);
    aspect-ratio: 1 / 1;
    
    border: none;
    border-radius: 50%;
    
    cursor: pointer;

    opacity: 0.8;

    background-repeat: no-repeat;   
    background-position: center;

    background-color: var(--black_dark);
    color: var(--beige_light);

    transition: all 0.3s ease-in;
}

.noteParentCircles:hover {
    background-color: var(--black_light);
    box-shadow: 0 0 15px var(--black_dark);
    opacity: 1;
}

#backToMenuFromNote { 
    background-image: url("../images/ArrowBack.png");
    background-size: 100% 100%;
}

#removeNoteButton {
    background-image: url("../images/trashBin.png");
    background-size: 70% 70%;
}

/* ------------------------------- Notes create ----------------------------------- */
#createNoteParent, #createFriendNoteParent {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;

    z-index: 1001;

    transition: opacity 0.5s ease-out;
}

#createNoteDiv, #createFriendNoteDiv {
    width: calc(40vw + 20vh);
    height: calc(90vh - 15vw);

    background-color: var(--black_dark);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    padding: 1rem 2rem;
}

#createNoteForm, #createFriendNoteForm {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;

    gap: 1rem;
}

#noteTitleAdd, #noteFriendTitleAdd {
    width: 100%;

    padding: 0.5rem;

    font-size: 1.2rem;

    border: none;
    border-radius: 4px;
}

/* ------------------------------- Note content ----------------------------------- */
#noteParent {
    width: calc(40vw + 20vh);
    height: calc(90vh - 15vw);

    background-color: var(--black_dark);

    border: 2px solid var(--black_light);
}

#noteContent, #friendNoteContent {
    position: relative;
    top: 0vh;

    width: 100%;
    height: 85%;

    padding: 2rem;

    border-radius: 1vw;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--black_light);
}

#noteMenu {
    position: relative;
    top: 0;

    width: 100%;
    height: 6vh;

    background-color: var(--black_light);

    padding-left: 1vw;
    padding-right: 1vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2vh;

    border-radius: 1vw;
    gap: 1rem;
}

#cancelNoteButton, #saveNoteButton, #saveFriendNoteButton, #cancelFriendNoteButton {
    padding: 0.5rem 1rem;

    font-size: 1rem;

    border: none;
    border-radius: 4px;

    background-color: var(--black_light);
    color: #f0f0f0;

    cursor: pointer;

    transition: all 0.3s ease-in;
}

.noteContentAddInput, .friendNoteContentAddInput {
    padding: 0.5rem;

    font-size: 1.2rem;

    border-radius: 4px;

    background-color: var(--black_light);
    border: 1px solid var(--black_light);
    color: #f0f0f0;

    resize: none;
}

.noteContentAddInput:focus, .friendNoteContentAddInput:focus {
    outline: none;
    border: 1px solid var(--orange_dark);
}

#noteTitleAdd, #noteFriendTitleAdd {
    width: 100%;
    height: 10%;
}

#noteContentAdd, #friendNoteContentAdd {
    width: 100%;
    height: 60%;
}

/* ------------------------------------- Friends section --------------------------------------- */
#friendsList, #addFriend, #pendingRequests {
    width: 100%;
    
    background-color: var(--black_light);

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.589);

    margin-bottom: 0.5vh;
    margin-top: 0.5vh;

    padding: 0.5rem 1rem;
}

#friendsList, #pendingRequests {
    width: 100%;
    height: 20vh;

    border: 1px solid #0a0a0a;
    border-radius: 8px;

    padding: 1rem;
    display: flex;
    flex-direction: column;

    margin-bottom: 0.5rem;
}

#inviteDivParent, #friendsDivParent {
    overflow-y: auto;

    width: 100%;
    height: auto;
    max-height: 20vh;

    padding: 1vw;

    border-radius: 4px;
}

#friendStatus, #pendingStatus {
    font-size: 1.2rem;
    color: var(--beige_dark);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.friendsStatus, .pendingRequest {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in;
}

.friendsStatus:hover {
    background-color: var(--black_dark);
    color: var(--beige_light);
}

#addFriend {
    height: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    gap: 1vh;
}

#addFriend input {
    width: 40vw;
    height: 7vh;

    font-size: 1.2rem;

    padding: 0.5rem;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.589);

    background-color: var(--black_dark);
    color: var(--beige_light);

    resize: none;
}

#addFriend input:focus {
    outline: none;
    border: 1px solid var(--orange_dark);
}

#addFriend button {
    font-size: 1rem;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;

    background-color: var(--black_dark);
    color: var(--beige_light);

    cursor: pointer;

    transition: all 0.3s ease-in;
}

#addFriend button:hover {
    background-color: var(--orange_dark);
    color: var(--beige_dark);
}

.inviteDiv, .friendsDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 40vw;
    height: 7vh;

    padding: 0.5rem;

    border-radius: 10px;
    border: 1px solid #0a0a0a;

    background-color: var(--black_dark);

    transition: all 0.3s ease-in;
}

.inviteDiv:hover, .friendsDiv:hover {
    color: #ffffff;

    border: 1px solid var(--orange_dark);
}

.inviteDiv span, .friendsDiv span {
    position: relative;

    width: 20vw;

    font-size: 1.2rem;
}

.inviteDiv div, .friendsDiv div {
    position: relative;

    height: 8vh;
    width: 12vw;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inviteButton, .friendButton {
    padding: 0.5rem 1rem;

    border: none;
    border-radius: 4px;

    background-color: var(--black_dark);
    color: #f0f0f0;

    cursor: pointer;

    transition: all 0.3s ease-in;
}

.inviteButton:hover, .friendButton:hover {
    background-color: var(--beige_dark);
    color: #ffffff;
}

.sendFriendNote {
    position: relative;

    width: 16vh;
    height: 5vh;
}

.removeFriend {
    width: 6vh;
    height: 5vh;

    border-radius: 4px;
    border: none;
}

.removeFriend img {
    position: relative;
    left: 50%;
    top: 50%;

    width: 1.5rem;
    height: 1.5rem;

    transform: translate(-50%, -50%);
}